TYRS_BROWSER_MCP_HOST=0.0.0.0
TYRS_BROWSER_MCP_PORT=8931
TYRS_BROWSER_RELAY_PORT=8932
TYRS_BROWSER_INTERNAL_MCP_PORT=8933
TYRS_BROWSER_ALLOWED_CIDRS=127.0.0.0/8,172.16.0.0/12
TYRS_BROWSER_MCP_TOKEN_FILE=/opt/tyrs-hand/browser/browser_mcp_token
TYRS_BROWSER_EXTENSION_TOKEN_FILE=/opt/tyrs-hand/browser/browser_extension_token
TYRS_BROWSER_EXTENSION_ID=replace_with_release_lock_id
TYRS_BROWSER_RELEASE_DIR=/opt/tyrs-hand/browser/releases/current
TYRS_BROWSER_FILES_ROOT=/opt/tyrs-hand/browser-files
